*{list-style: none;}
ul{margin: 0;padding: 0;}
body {
    background: #FFF;
    font-family: Microsoft YaHei,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.25;
    color: #333;
}
.header{
    height: 80px;
    background: #1E71B1;
}
.header .navbar{
    background: none;
    margin-bottom: 0;
}
.header .navbar .list-group-item{
    background: none;
    border: none;
}
.header a{
    color: #FFF;
}
.header .docs-item-top{

}
.header .docs-item-top li{
    padding: 0;
    float: left;
}
.header .docs-item-top li a{
    display: block;
    padding: 4px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.header .docs-item-top li.active a,
.header .docs-item-top li a:hover{
    background: none repeat scroll 0 0 #105488;
}

.header .docs-item-top li a span{
    height: 32px;
    display: block;
    font-size: 24px;
}


.wrap .row,
.wrap .col-md-2,
.wrap .col-md-10{
    padding:0;
    margin: 0;
}

.list-group-item{
    padding: 0;
}

.list-group-item a{
    padding: 10px 15px;
    display: block;
}

.docs-item-side li.active a{
    color: #FFF;
}
/** Login **/
.login-form{
    width: 600px;
    background: #F8F8F8;
    padding:45px 20px;
    margin: 10px auto;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.login-form form {
    padding: 10px 0;
}